.jobs {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
@media screen and (max-width: 576px) {
  .jobs {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    gap: 0;
  }
  .featuredJobs {
    width: fit-content;
  }
  .title {
    margin-top: 120px;
  }
}
