.logo {
  color: #1a1919;
  font-weight: 800;
  background: linear-gradient(90deg, #7e90fe 0%, #130f40 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.navbar .statistics {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.navbar {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    gap: 0;
  }
  .navbar {
    flex-direction: column;
    width: fit-content;
    gap: 5px;
  }
}
