.jobsInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.title {
  color: #182c61;
  font-weight: 900;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .jobsInfo {
    flex-direction: column;
  }
}
